/* grid
--------------------------------------------- */
.row>*[class^="col"] {
    /*
    for visual testing, uncomment:    */
    height: 100px;
    background: #fcc;

    float: left;
    margin: 0 10px 13px 10px;
    /*
    margin-left: .9259259259259258%;
    margin-right: .9259259259259258%;
    margin-bottom: 13px;
    */
}

/*FIXED WIDTHS:*/
.col1 {width: 70px;}
/*70*2+20*/
.col2 {width: 160px;}
/*70*3+20*2*/
.col3 {width: 250px;}
/*70*4+20*3*/
.col4 {width: 340px;}
/*70*5+20*4*/
.col5 {width: 430px;}
/*70*6+20*5*/
.col6 {width: 520px;}
/*70*7+20*6*/
.col7 {width: 610px;}
/*70*8+20*7*/
.col8 {width: 700px;}
/*70*9+20*8*/
.col9 {width: 790px;}
/*70*10+20*9*/
.col10 {width: 880px;}
/*70*11+20*10*/
.col11 {width: 970px;}
/*70*12+20*11*/
.col12 {width: 1060px;}
/*1080*.382-20*/
.col40 {width: 392.56px;}
/*1080*.618-20*/
.col60 {width: 647.44px;}
/*END OF FIXED WIDTHS*/

/* groups with self-clearing floats
--------------------------------------------- */
.group:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

/* non-textual elements in the fluid grid:
--------------------------------------------- */
img, video, object {max-width: 100%;}

/*overrides*/
.row>.col6 {float:none;}
.row>.withcode>.col6 {float:left;}