/* page structure
--------------------------------------------- */
.wrapper {
    width: 1080px;
    margin: 0 auto;
    font-size: 1.3em;
    margin-bottom: 30px;

    border: 1px dotted black;
}

/*
footer {
    clear: both;
    margin: 0 auto;
    padding: 10px 0 30px 0;
    font-size: 1.3em;
    font-family: Georgia;
    color: #fff;
    border-top: 2px solid #e2e1d4;
    background: #333;
    background: rgba(0,0,0, .6);
    text-align: center;
}
*/