body {
    font-family: Georgia, serif;
    font-size: 62.5%;
}

/* body, baseline font size, links
--------------------------------------------- */
a {text-decoration: none;}
a:link {
    border-bottom: 1px dotted black;
    color: #000;
}
a:visited {color: #000;}
a:hover {background: #FCF141;}
a:active {}

/*baseline vertical rhythm*/
p, ul {
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 22px;
}
